<table><tr><td>

<b>新規ユーザ</b>
<form method="post" onsubmit="newUser( 'URL_NAME', $('#new_user_name').get(0).value );return false;">
  <input type="text" id="new_user_name" size="10" value="">
  <input type="submit" value="CreateNewUser" style="font-size:12px" />
</form>

</td><td>
<b>ユーザ変更</b>
<form>
  <select id="userlist" name="userlist" onChange="location.href = 'URL_NAME/todo.cgi?mode=user&name=' + this.options[this.selectedIndex].value">
    <option value="" selected> ** select user name **
USER_OPTIONS
  </select>
</form>

</td><td>
<b>背景画像変更</b>
<form>
  <select id="bglist" name="bglist" onChange="changeBgImg( this.options[this.selectedIndex].value); return false;">
BGIMG_OPTIONS
  </select>
</form>

</td><td>
<b>レイアウト変更</b>
<form>
  <select id="layout_list" name="layout_list" onChange="changeLayout( this.options[this.selectedIndex].value ); return false;">
    <option value="">** select layout **
    <option value="0">original
    <option value="4">new_face
    <option value="1">compact
    <option value="2">landscape
    <option value="3">portrait
  </select>
</form>
</td><td>
<button onclick="location.href='URL_NAME/todo.cgi?mode=done&name=' + CurrentUser">DoneList</button>
</td></tr>
</table>

<h3> 関連ページ</h3>
<ul>
<li><a href="URL_NAME/todo.cgi?mode=alldoing">全てのユーザのDoingリスト</a>
<li><a href="http://bizmakoto.jp/bizid/articles/0707/26/news005.html" >「できる」ToDoリストの作り方</a></li>
<li><a href="http://journal.mycom.co.jp/news/2009/11/11/011/index.html">時間を管理する「ポモドーロテクニック」という方法</a>
</ul>

<!--
<script>
        $(function() {
                $( "#datepicker" ).datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            showMonthAfterYear: true,
            onClose: function(dateText, inst){ $('#dp_form').fadeOut();},
            });
         });
</script>

<button onclick="$('#dp_form').fadeIn(); $('#datepicker').get(0).focus();return false;">d</button>
<div class="dp" id="dp_form" style="display:none">
<input type="text" id="datepicker">
</div>
-->

