<div id="wrapper">
<div class="hero-unit">
  <h1>かんばんりすと</h1>
  <p>
    <h3>概要</h3>
    <ul>
      <li>「かんばんりすと」はWeb上で比較的お手軽にTodo管理を行うためのWebアプリです。</li>
      <li>Agile界隈で話題になっている「ソフトウェアかんばん」をイメージして作りました。</li>
    </ul>

    <h3>使い方</h3>
    <ul>
      <li>操作の基本は「タスクを追加」「ドラッグ＆ドロップで状態変更」「チェックでDone」です。</li>
      <li>タッチイベントにも対応していますので iPad 等でもご利用いただけます。</li>
      <li>ブラウザは GoogleChrome, FireFox または Safari をオススメします。</li>
    </ul>

    <h3>ソースコード</h3>
    <ul>
      <li><a href=https://github.com/volpe28v/kanban-list>https://github.com/volpe28v/kanban-list</a></li>
    </ul>
  </p>

  <p>
    <%= link_to 'ユーザー登録', [ :new, :user_registration ] ,:class => 'btn btn-primary btn-large' %>
    <%= link_to 'ログイン', [ :new, :user_session ],:class => 'btn btn-primary btn-large'  %>
  </p>
  ユーザ数: <%= @all_user.size %>
</div>
</div>
