<div id="wrapper">
 
<table>
<tr><td id="main">
<h3 class="title">TodoList について</h3>
<ul>
<li>本TodoListはWeb上で比較的お手軽にTodo管理を行うためのWebアプリです。
<li>Agile界隈で話題になっている「ソフトウェアかんばん」をイメージして作りました。
<li>タスク状態の変更をマウスのドラッグ＆ドロップで容易に行えます。
</ul>

<h3 class="title">使い方</h3>
<ul>
<li>新規でTodoList を利用したい場合は「ユーザ登録」から任意のユーザ名でログインしてください(特に断らなくてもいいです)
<li>既存ユーザの方は「ユーザ選択」から自分のユーザ名を選択しログインしてください
<li>操作の基本は「タスクを追加」「ドラッグ＆ドロップで状態変更」「チェックでDone」です。
<li>細かな操作方法は説明しませんが、雰囲気で触ってみてください。
<li>ポモドーロテクニックを実践するためのタイマー機能もあります。<image src="/images/tomato.gif"> を探してみてください。
</ul>


<h3 class="title">その他注意事項</h3>
<ul>
<li>ブラウザは IE6 ですと表示が崩れたり処理が重い場合があります。GoogleChrome Safari Firefox 等でのご利用をお薦めします。
</ul>

<div id="generatedby">Created by Naoki Kodama. </div> 
</td><td id="side_bar">

<ul class="sign_menu">
  <li><%= link_to 'ログイン', [ :new, :user_session ],:class => 'sign'  %></li>
  <li><%= link_to 'ユーザー登録', [ :new, :user_registration ] ,:class => 'sign' %></li>
</ul>
<!-- <p><%= link_to 'パスワード再発行', [ :new, :user_password ] ,:class => 'sign' %></p> -->


<hr>
</td></tr>
</table>


</div>

