<div id="wrapper">

<table>
<tr><td id="main">
<h3 class="title">「かんばんりすと」について</h3>
<ul>
<li>「かんばんりすと」はWeb上で比較的お手軽にTodo管理を行うためのWebアプリです。
<li>Agile界隈で話題になっている「ソフトウェアかんばん」をイメージして作りました。
<li>タスク状態の変更をマウスのドラッグ＆ドロップで容易に行えます。
<li>タッチイベントにも対応していますので iPad 等でもご利用いただけます。
</ul>

<h3 class="title">使い方</h3>
<ul>
<li>新規で利用したい場合は「ユーザー登録」から任意のユーザ名でログインしてください
<li>操作の基本は「タスクを追加」「ドラッグ＆ドロップで状態変更」「チェックでDone」です。
</ul>

<h3 class="title">ソースコード</h3>
<ul>
  <li><a href=https://github.com/volpe28v/kanban-list>https://github.com/volpe28v/kanban-list</a></li>
</ul>

</td><td id="side_bar">

<ul class="sign_menu">
  <li><%= link_to 'ログイン', [ :new, :user_session ],:class => 'sign'  %></li>
  <li><%= link_to 'ユーザー登録', [ :new, :user_registration ] ,:class => 'sign' %></li>
</ul>
<!-- <p><%= link_to 'パスワード再発行', [ :new, :user_password ] ,:class => 'sign' %></p> -->

<hr>
</td></tr>
</table>

</div>
