<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/> 
 
  <title>TodoList Top</title> 
 
<link type="text/css" href="./js/jquery/jquery-ui.css" rel="stylesheet" /> 
<link type="text/css" href="./todo.css" rel="stylesheet" /> 
<link type="text/css" href="./top.css" rel="stylesheet" /> 

<script src="./js/jquery/jquery-1.4.4.min.js" type="text/javascript"></script> 
<script src="./js/jquery/jquery-ui.js" type="text/javascript"></script> 
<script src="./js/jquery/jquery.datasort.js" type="text/javascript"></script> 
<script src="./js/todo.js" type="text/javascript"></script> 

</head> 
<body style="
background-image: url(BACKGROUND_IMG_URL);
background-attachment: fixed;
background-position: center top;
background-repeat:  repeat
"> 
<div id="wrapper">
 
<center>
<h1 id="title_bj">ToDo List</h1> 
</center>

<table>
<tr><td id="main">
<h3 class="title">TodoList について</h3>
<ul>
<li>本TodoListはWeb上で比較的お手軽にTodo管理を行うためのWebアプリです。
<li>Agile界隈で話題になっている「ソフトウェアかんばん」をイメージして作りました。
<li>タスク状態の変更をマウスのドラッグ＆ドロップで容易に行えます。
</ul>

<h3 class="title">使い方</h3>
<ul>
<li>新規でTodoList を利用したい場合は「ユーザ登録」から任意のユーザ名でログインしてください(特に断らなくてもいいです)
<li>既存ユーザの方は「ユーザ選択」から自分のユーザ名を選択しログインしてください
<li>操作の基本は「タスクを追加」「ドラッグ＆ドロップで状態変更」「チェックでDone」です。
<li>細かな操作方法は説明しませんが、雰囲気で触ってみてください。
<li>ポモドーロテクニックを実践するためのタイマー機能もあります。<%= image_tag 'tomato.gif' %> を探してみてください。
</ul>


<h3 class="title">その他注意事項</h3>
<ul>
<li>ブラウザは IE6 ですと表示が崩れたり処理が重い場合があります。GoogleChrome Safari Firefox 等でのご利用をお薦めします。
</ul>

<div id="generatedby">Created by Naoki Kodama. </div> 
</td><td id="side_bar">

<div class="menu">ユーザ登録</div>
<form method="post" onsubmit="newUser( 'URL_NAME', $('#new_user_name').get(0).value );return false;">
  <input type="text" id="new_user_name" size="10" value=""><br>
  <input type="submit" value="CreateNewUser" style="font-size:12px" />
</form>

<br>
<div class="menu">ユーザ選択</div>
<form>
  <select id="userlist" name="userlist" onChange="location.href = 'URL_NAME/todo.cgi?mode=user&name=' + this.options[this.selectedIndex].value">
    <option value="" selected> ** select user name **
USER_OPTIONS
  </select>
</form>

<hr>
</td></tr>
</table>


</div>
</body> 


</html> 
