<table width="100%" border="0">

<tr><td valign="top" width="50%">

<div class="memitem">
<div class="memproto">
<div class="memname_doing"><center>Doing</center></div>
</div>
<div class="memdoc_doing">
<ul id="doing" class="droptrue">
DOING_LI_PLACE
</ul>
</div>
</div>

<div id="add_todo_button" style="display:block">
  <input type="button" value="AddToDo" style="font-size:12px" onclick="toggleDisplay('add_todo_button','add_todo_form');$('#add_todo_form_msg').get(0).focus();return false;"\/>
</div>
<div id="add_todo_form" style="display:none">
  <form method="post" style="display:inline" onsubmit="addTodoAjax($('#add_todo_form_msg').get(0).value);$('#add_todo_form_msg').get(0).value='';return false;">
    <input type="submit" value="Add" style="font-size:10px" />
    <input type="button" value="Cancel" style="font-size:10px" onclick="toggleDisplay('add_todo_form','add_todo_button');return false;"/>
    <input type="text" id="add_todo_form_msg" name="ttl" value="" size="64" style="font-weight:normal;padding:2px" onfocus="this.style.background='#ffc';"/>
    <input type="submit" value="Add" style="font-size:10px" />
  </form>
</div>

<div class="memitem">
<div class="memproto">
<div class="memname_todo_high"><center>Todo</center></div>
</div>
<div class="memproto_mid">
<div class="memname_mid"><center>High</center></div>
</div>
<div class="memdoc_todo_high">
<ul id="todo_high" class="droptrue">
TODO_HIGH_LI_PLACE
</ul>
</div>
<div class="memproto_mid">
<div class="memname_mid"><center>Middle</center></div>
</div>
<div class="memdoc_todo_high">
<ul id="todo" class="droptrue">
TODO_LI_PLACE
</ul>
</div>
<div class="memproto_mid">
<div class="memname_mid"><center>Low</center></div>
</div>
<div class="memdoc_todo_low">
<ul id="todo_low" class="droptrue">
TODO_LOW_LI_PLACE
</ul>

</div>
</div>


</td>
<td valign="top" width="50%">

<div class="memitem">
<div class="memproto">
<div class="memname_waiting"><center>Waiting</center></div>
</div>
<div class="memdoc_waiting">
<ul id="waiting" class="droptrue">
WAITING_LI_PLACE
</ul>
</div>
</div>

<div class="memitem">
<div class="memproto">
<div class="memname_done"><center>Done - Recent RECENT_NUM - </center></div>
</div>
<div class="memdoc_done">
<ul id="done" class="droptrue">
DONE_LI_PLACE
</ul>
</div>
</div>


</td></tr>
</table>

