<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/> 
 	<meta name="apple-mobile-web-app-capable" content="yes"/>  
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
 
  <title>PAGE_TITLE</title> 
 
<link type="text/css" href="./js/jquery/jquery-ui.css" rel="stylesheet" /> 
<link type="text/css" href="./js/jquery/jquery.alerts.css" rel="stylesheet" /> 
<link type="text/css" href="./todo.css" rel="stylesheet" /> 

<script> 
var CurrentUser = "USER_NAME";
</script>

<script src="./js/jquery/jquery-1.4.4.min.js" type="text/javascript"></script> 
<script src="./js/jquery/jquery-ui.js" type="text/javascript"></script> 
<script src="./js/jquery/jquery.datasort.js" type="text/javascript"></script> 
<script src="./js/jquery/jquery.alerts.js" type="text/javascript"></script> 
<script src="./js/todo.js" type="text/javascript"></script> 
<script src="./js/p_timer.js" type="text/javascript"></script> 

</head> 
<body style="
background-image: url(BACKGROUND_IMG_URL);
background-attachment: fixed;
background-position: center top;
background-repeat:  repeat
"> 
 
<h1 id="title_bj">ToDo List for USER_NAME </h1> 

<table width="100%" border="0">
<tr><td valign="top" width="50%">
<table id="table-01" >
<tr>
<th class="doing"  >Doing</th>
<th class="todo_h" >High</th>
<th class="todo"   >Middle</th>
<th class="todo_l" >Low</th>
<th class="waiting">Waiting</th>
<th class="done"   >Done</th>
</tr>
<tr>
<td><div id="doing_num"   class="counts">DOING_NUM</div></td>
<td><div id="todo_h_num"  class="counts">TODO_H_NUM</div></td>
<td><div id="todo_num"    class="counts">TODO_NUM</div></td>
<td><div id="todo_l_num"  class="counts">TODO_L_NUM</div></td>
<td><div id="waiting_num" class="counts">WAITING_NUM</div></td>
<td><div id="done_num"    class="counts">DONE_NUM</div></td>
</tr>
</table>

<table><tr>
<!-- フィルタ入力フォーム -->
<td>
<form method="post" style="display:inline" onsubmit="filterTask( $('#filter_str').get(0).value );return false;">
  <input type="submit" value="フィルタ / 更新" style="font-size:12px" />
  <input type="text" id="filter_str" name="ttl" value="" size="10" style="font-weight:normal;padding:2px" onfocus="this.style.background='#ffc';"/>
</form>
</td>

<!-- ポモドーロタイマ(作成中！) -->
<td>
<input type="image" src="images/tomato.gif" onclick="$('#p_timer_body').fadeIn('slow');return false"/>
</td><td>
<div id="p_timer_body" style="display:none">
<table><tr><td>
<div id="p_timer_form" class="add_form" >
<button id="p_start" style="font-size:10px" onclick="Start()">Start</button><button id="p_pause" style="font-size:10px" onclick="Pause()">Pause</button><button id="p_clear" style="font-size:10px" onclick="Clear()">Reset</button>
<span id="p_min">25</span>:<span id="p_sec">00</span>&nbsp;
</div>
</td></tr></table>
</div>
</td>
<!-- ポモドーロタイマ -->
</tr></table>

</td><td valign="top" >
<ul id="info_msg">
<li><b><font color="blue"><お知らせ></font></b></li>
INFO_MSG
</ul>
</td></tr>
</table>

<!-- ここから全要素を動的に更新可能なように別テンプレートとする -->
<div id="task_list">
TASK_LIST_HTML
</div>
<!-- ここまで動的更新できる範囲 -->

<div id="serverMsg"><b>ServerMsg to USER_NAME : </b>
  <div id="viewSortlist" style="display:inline;">Let's Todo!</div>
</div>

<br> 
<hr>
FOOTER_HTML
<div id="generatedby">Created by Naoki Kodama. </div> 
</body> 

</html> 
