  <div data-role="header" data-position="fixed">
    <% case state %>
    <% when 'todo','doing','done'%>
      <a href="#add_todo_page" data-icon="plus" class="ui-btn-left">Add</a>
    <% end %>

    <h3>かんばんりすと</h3>
    <%= link_to 'Logout', [ :destroy, :user_session ], :class => 'ui-btn-right', 'rel' => 'external' %>
  </div>
