  <div data-role="header" data-position="fixed">
    <a href="#option" data-icon="gear" class="ui-btn-left">Option</a>
    <h3>かんばんりすと</h3>
    <%= link_to 'Logout', [ :destroy, :user_session ], :class => 'ui-btn-right', 'rel' => 'external' %>

  	<div data-role="navbar">
      <ul>
        <% case state %>
        <% when 'todo' %>
          <li><a href="#todo_nav" class="ui-btn-active ui-state-persist">Todo</a></li>
          <li><a href="#doing_nav">Doing</a></li>
          <li><a href="#done_nav">Done</a></li>
        <% when 'doing' %>
          <li><a href="#todo_nav">Todo</a></li>
          <li><a href="#doing_nav" class="ui-btn-active ui-state-persist">Doing</a></li>
          <li><a href="#done_nav">Done</a></li>
        <% when 'done' %>
          <li><a href="#todo_nav">Todo</a></li>
          <li><a href="#doing_nav">Doing</a></li>
          <li><a href="#done_nav" class="ui-btn-active ui-state-persist">Done</a></li>
        <% end %>
      </ul>
    </div>
  </div>


