$active-state-height: 100px;
$done-state-height: $active-state-height * 3 + 74;
#doing, #waiting, #todo_m, #todo_l, #todo_h, #done {
  list-style-type: none;
  margin: 2px;
  padding: 0px;
  border: 0px solid #aaa;
  width: 99%;
  min-height: $active-state-height;
  height: auto !important;
  height: $active-state-height;
}
#done    {
  min-height: $done-state-height;
  height: $done-state-height;
}

#doing li ,#waiting li ,#doing li ,#todo_h li, #todo_m li, #todo_l li, #done li{
  font-weight: bold;
  font-size: 12px;
  text-decoration:none;
  padding: 1px;

  cursor: pointer;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 3px;

  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#done li {
  cursor: no-drop;
}

/* for status count */
.doing ,.waiting ,.doing ,.todo_h ,.todo_m ,.todo_l ,.done {
  padding: 4px;
  border: #E3E3E3 solid;
  font-weight: bold;
  line-height: 100%;
  text-align: center;
  border-width: 0 0 1px 1px;

  background-color: #f5f5f5;
}

/* dashboard task count */
td.todo_h, td.todo_m, td.todo_l, td.doing, td.waiting, td.done{
  text-align: right;
}

/* task status base */
.memitem {
  padding: 0;
  margin:  0px;
}

.memname {
  white-space: nowrap;
  font-weight: bold;
}

.memname_doing, .memname_todo, .memname_waiting, .memname_done { color: #999; font-size: 12pt;}
.memname_todo_sub { color: #bbb; font-size: 8pt; }

$border-color: #f4f4f4;
.memdoc_doing, .memdoc_todo, .memdoc_todo_bottom, .memdoc_waiting, .memdoc_done {
  border-left: 1px solid $border-color; 
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 2px 0px;
  border-top-width: 0;
  background-color: #fdfdfd;
}

.memdoc_todo {
  border-bottom: 0px solid $border-color;
}

.memproto, .memproto_todo {
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color; 
  border-right: 1px solid $border-color;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
  background-color: #fdfdfd;
}

.task_elem:hover {
  -webkit-box-shadow: 0px 5px 15px #444;
  box-shadow: 0px 5px 15px #444;
}

.row-fluid>.span4 {
  width: 32.6%;
}

.row-fluid>[class*="span"] {
  float: left;
  margin-left: 10px;
}
