$active-state-height: 100px;
$done-state-height: $active-state-height * 3 + 74;
#doing, #waiting, #todo_m, #todo_l, #todo_h, #done {
  list-style-type: none;
  margin: 0 10px 0 0;
  padding: 2px;
  border : 0px solid #aaaaaa;
  width: 99%;
  min-height: $active-state-height;
  height: auto !important;
  height: $active-state-height;
}
#done    {
  min-height: $done-state-height;
  height: $done-state-height;
}

$task-li-radius: 6px;
#doing li ,#waiting li ,#doing li ,#todo_h li, #todo_m li, #todo_l li, #done li{
  /* firefox specific markup */
  -moz-border-radius: $task-li-radius;
  /* webkit specific markup */
  -webkit-border-radius: $task-li-radius;

  margin: 0px 2px 2px 2px;
  font-weight: bold;
  font-size: 12px;
  text-decoration:none;
  padding: 1px;
  background-position: center bottom;
  background-repeat:  repeat;

  cursor: pointer;
  color: #333;
}

#doing li{
  border-top:1px solid #88A;
  border-right:2px solid #557;
  border-bottom:2px solid #557;
  border-left:1px solid #88A;
  background-color: #90d6d6;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#E0F0F6), to(#90C0C6));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #E0F0F6, #90C0C6);
}

#waiting li {
  border-top:1px solid #aa6;
  border-right:2px solid #773;
  border-bottom:2px solid #773;
  border-left:1px solid #aa6;
  background-color: #ee5;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#eec), to(#ee5));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #eec, #ee5);
}

#todo_h li, #todo_m li, #todo_l li{
  border-top:1px solid #6b7;
  border-right:2px solid #384;
  border-bottom:2px solid #384;
  border-left:1px solid #6b7;
  background-color: #88de88;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#D5FED5), to(#80DE80));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #D5FED5, #80DE80);
}

#done li {
  border-top:1px solid #aaa;
  border-right:2px solid #555;
  border-bottom:2px solid #555;
  border-left:1px solid #aaa;
  background-color: #d8d8d8;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#C2C2C2));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #F6F6F6, #C2C2C2);

  cursor: no-drop;
}

/* for status count */
.doing ,.waiting ,.doing ,.todo_h ,.todo_m ,.todo_l ,.done {
  padding: 4px;
  border: #E3E3E3 solid;
  font-weight: bold;
  line-height: 100%;
  text-align: center;
  border-width: 0 0 1px 1px;
  background-position: center bottom;
  background-repeat:  repeat;
}

.doing{
  background-color: #90d6d6;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#E0F0F6), to(#90C0C6));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #E0F0F6, #90C0C6);
}

.todo_h{
  background-color: #88de88;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#cec), to(#40cF40));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #cec, #40cF40);
}

.todo_m{
  background-color: #88de88;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#beb), to(#7CFC00));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #beb, #7CFC00);
}

.todo_l{
  background-color: #88de88;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#df7), to(#ADFF2F));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #df7, #ADFF2F);
}

.waiting{
  background-color: #ee5;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#eec), to(#ee5));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #eec, #ee5);

}

.done{
  background-color: #d8d8d8;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#aaa));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #cdc, #00FF00);
}

/* dashboard task count */
td.todo_h, td.todo_m, td.todo_l, td.doing, td.waiting, td.done{
  text-align: right;
}

/* task status base */
.memitem {
  padding: 0;
  margin-right:  2px;
  margin-left:  2px;
  margin-top: 2px;
  margin-bottom: 14px;

  background-color: ghostwhite;
  /* firefox specific markup */
  -moz-box-shadow: rgba(0, 0, 0, 0.70) 0px 5px 15px;
  /* webkit specific markup */
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.70);

  -webkit-border-radius: 8px;
}

.memname {
  white-space: nowrap;
  font-weight: bold;
  margin-left: 15px;
}

.memname_doing    { color: #000066; font-size: 12pt;}
.memname_todo     { color: #006600; font-size: 12pt;}
.memname_todo_sub { color: #224422; font-size: 8pt; }
.memname_waiting  { color: #888800; font-size: 12pt;}
.memname_done     { color: #555;    font-size: 12pt;}

.memdoc_doing, .memdoc_todo, .memdoc_todo_bottom, .memdoc_waiting, .memdoc_done {
  border-left: 1px solid #A8B8D9;
  border-right: 1px solid #A8B8D9;
  padding: 2px 0px;
  border-top-width: 0;
}

.memdoc_doing, .memdoc_todo_bottom, .memdoc_waiting, .memdoc_done {
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
}

.memproto, .memproto_todo {
  border-top: 1px solid #A8B8D9;
  border-left: 1px solid #A8B8D9;
  border-right: 1px solid #A8B8D9;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
  background-image: url('nav_f.png');
  background-repeat:repeat-x;
  background-color: #E2E8F2;
}

.memproto {
  -webkit-border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
}

.task_elem:hover {
  -webkit-box-shadow: 0px 5px 15px #444;
  box-shadow: 0px 5px 15px #444;
}

.task_elem{
  -webkit-box-shadow: 0px 1px 8px #888;
  box-shadow: 0px 1px 8px #888;
}


