#doing   { list-style-type: none; margin: 0 10px 0 0; padding: 2px; border : 0px solid #aaaaaa; 
  width: 99%; 
  min-height: 30px; 
  height: auto !important;
  height: 30px;
}
#waiting { list-style-type: none; margin: 0 10px 0 0; padding: 2px; border : 0px solid #aaaaaa; 
  width: 99%; 
  min-height: 30px; 
  height: auto !important;
  height: 30px;
}
#todo_m    { list-style-type: none; margin: 0 10px 0 0; padding: 2px; border : 0px solid #aaaaaa; 
  width: 99%; 
  min-height: 30px; 
  height: auto !important;
  height: 30px;
}
#todo_l { list-style-type: none; margin: 0 10px 0 0; padding: 2px; border : 0px solid #aaaaaa; 
  width: 99%; 
  min-height: 30px; 
  height: auto !important;
  height: 30px;
}
#todo_h { list-style-type: none; margin: 0 10px 0 0; padding: 2px; border : 0px solid #aaaaaa; 
  width: 99%; 
  min-height: 30px; 
  height: auto !important;
  height: 30px;
}
#done    {
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 2px;
  border : 0px solid #aaaaaa;
  width:  99%;
  border-top:0px solid #888;
  border-right:0px solid #333;
  border-bottom:0px solid #333;
  border-left:0px solid #888;
  color: #111;
  min-height: 30px; 
  height: auto !important;
  height: 30px;
}


.doinglist   { list-style-type: none; margin: 0 10px 0 0; padding: 2px; border : 0px solid #aaaaaa; width: 98%; }
.donelist    {
  list-style-type: none;
  margin: 2px 20px 0px 4px;
  padding: 2px;
  border : 0px solid #aaaaaa;
  width:  96%;
  border-top:1px solid #888;
  border-right:2px solid #333;
  border-bottom:2px solid #333;
  border-left:1px solid #888;
  background: #ddd;
  color: #111;
}


#donelist    {
  list-style-type: none;
  margin: 2px 20px 0px 4px;
  padding: 2px;
  border : 0px solid #aaaaaa;
  width:  96%;
  border-top:1px solid #888;
  border-right:2px solid #333;
  border-bottom:2px solid #333;
  border-left:1px solid #888;
  background: #ddd;
  color: #111;
}

li {
  /* firefox specific markup */
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  /* webkit specific markup */
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;

}

#doing li { 
  margin: 0px 2px 1px 2px; 
  padding: 1px; 
  font-weight: bold; 
  font-size: 12px; 
  text-decoration:none;
  border-top:1px solid #88A;
  border-right:2px solid #557;
  border-bottom:2px solid #557;
  border-left:1px solid #88A;
  background-image: url("doing_gra.jpg");
  background-position: center bottom;
  background-repeat:  repeat;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#E0F0F6), to(#90C0C6));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #E0F0F6, #90C0C6);

  color: #333;
  cursor: pointer;
}

#waiting li { 
  margin: 0px 2px 1px 2px; padding: 1px; 
  font-weight: bold; 
  font-size: 12px; 
  text-decoration:none;
  border-top:1px solid #aa6;
  border-right:2px solid #773;
  border-bottom:2px solid #773;
  border-left:1px solid #aa6;
  background-image: url("waiting_gra.jpg"); 
  background-position: center bottom;
  background-repeat:  repeat;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#eec), to(#ee5));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #eec, #ee5);

  color: #333;
  cursor: pointer;
}

#todo_h li, #todo_m li, #todo_l li{ 
  margin: 0px 2px 1px 2px; 
  padding: 1px; 
  border : 1px solid #34f; 
  font-weight: bold; 
  font-size: 12px; 
  text-decoration:none;
  border-top:1px solid #6b7;
  border-right:2px solid #384;
  border-bottom:2px solid #384;
  border-left:1px solid #6b7;
  background-image: url("todo_gra.jpg");
  background-position: center bottom;
  background-repeat:  repeat;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#D5FED5), to(#80DE80));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #D5FED5, #80DE80);

  color: #333;
  cursor: pointer;
}

#done li {
  margin: 0px 2px 1px 2px;
  padding: 1px;
  font-size: 11px;
  text-decoration:none;
  border-top:1px solid #aaa;
  border-right:2px solid #555;
  border-bottom:2px solid #555;
  border-left:1px solid #aaa;
  background-image: url("done_gra.jpg");

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#C2C2C2));
  /* For Mozilla/Gecko (Firefox etc) */ 
  background: -moz-linear-gradient(top, #F6F6F6, #C2C2C2);

  color: #444;
}

#donelist li {
  margin: 0px 2px 1px 2px;
  padding: 1px;
  border : 0px solid #34f;
  background: #fff;
  font-size: 14px;
  color: #000;
}

.doinglist   li {
  margin: 0px 2px 1px 2px;
  padding: 1px;
  font-weight: bold;
  font-size: 12px;
  text-decoration:none;
  border-top:1px solid #88A;
  border-right:2px solid #557;
  border-bottom:2px solid #557;
  border-left:1px solid #88A;
  background-image: url("doing_gra.jpg");
  background-position: center bottom;
  background-repeat:  repeat;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#cde), to(#74b9ff));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #cde, #74b9ff);

  color: #358;
}

.donelist    li {
  margin: 0px 2px 1px 2px;
  padding: 0px;
  border : 0px solid #34f;
  background: #efefef;
  font-size: 11px;

  color: #444;
}

.ui-state-highlight { height: 1.5em; border-style : dashed; }

#serverMsg{
  margin: 0 0 0 20px;
  width             : 97%   ;
  height            :  8px    ;
  padding           : 10px    ;
  z-index:100;
}

.doing{ 
  padding: 4px;
  border: #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  font-weight: bold;
  line-height: 100%;
  text-align: center;
  background-image: url("doing_gra.jpg");
  background-position: center bottom;
  background-repeat:  repeat;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#E0F0F6), to(#90C0C6));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #E0F0F6, #90C0C6);
}

.todo_h{
  padding: 4px;
  border: #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  font-weight: bold;
  line-height: 100%;
  text-align: center;
  background-image: url("todo_h_gra.jpg");
  background-position: center bottom;
  background-repeat:  repeat;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#cec), to(#40cF40));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #cec, #40cF40);

}

.todo{
  padding: 4px;
  border: #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  font-weight: bold;
  line-height: 100%;
  text-align: center;
  background-image: url("todo_gra.jpg");
  background-position: center bottom;
  background-repeat:  repeat;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#beb), to(#7CFC00));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #beb, #7CFC00);


}

.todo_l{
  padding: 4px;
  border: #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  font-weight: bold;
  line-height: 100%;
  text-align: center;
  background-image: url("todo_l_gra.jpg");
  background-position: center bottom;
  background-repeat:  repeat;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#df7), to(#ADFF2F));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #df7, #ADFF2F);

}

.waiting{
  padding: 4px;
  border: #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  font-weight: bold;
  line-height: 100%;
  text-align: center;
  background-image: url("waiting_gra.jpg");
  background-position: center bottom;
  background-repeat:  repeat;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#eec), to(#ee5));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #eec, #ee5);

}

.done{
  padding: 4px;
  border: #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  font-weight: bold;
  line-height: 100%;
  text-align: center;
  background-image: url("done_gra.jpg");
  background-position: center bottom;
  background-repeat:  repeat;

  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#aaa));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #cdc, #00FF00);


}

h2.doing{
        margin: 0.5em 2% 0.0em 5px;
        padding: 0.3em 0.5em 0.2em 0.5em;
        border-style: solid;
        border-width: 0 0 2px 25px;
        border-color: #BFEFDF;
        font-size: 18px;
}

h2.waiting{
        margin: 0.5em 2% 0.0em 5px;
        padding: 0.3em 0.5em 0.2em 0.5em;
        border-style: solid;
        border-width: 0 0 2px 25px;
        border-color: #EfEfAb; 
        font-size: 18px;
}

h2.todo_m{
        margin: 0.5em 2% 0.0em 5px;
        padding: 0.3em 0.5em 0.2em 0.5em;
        border-style: solid;
        border-width: 0 0 2px 25px;
        border-color: #9DE0AD;
        font-size: 18px;
}

h2.todo_l{
        margin: 0.5em 2% 0.0em 5px;
        padding: 0.3em 0.5em 0.2em 0.5em;
        border-style: solid;
        border-width: 0 0 2px 25px;
        border-color: #E5FCC2;
        font-size: 18px;
}

h2.todo_h{
        margin: 0.5em 2% 0.0em 5px;
        padding: 0.3em 0.5em 0.2em 0.5em;
        border-style: solid;
        border-width: 0 0 2px 25px;
        border-color: #75dDd8;
        font-size: 18px;
}

h2.done{
        margin: 0.5em 2% 0.0em 5px;
        padding: 0.3em 0.5em 0.2em 0.5em;
        border-style: solid;
        border-width: 0 0 2px 25px;
        border-color: #dfdfdf;
        font-size: 18px;
}


table#table-01 {
    margin: 2px 0 2px 20px;
    border: 1px #999999 solid;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 8px;
}

table#table-01 th {
    border: 1px #999999 solid;
    border-width: 0 0 1px 1px;
}

table#table-01 td {
    border: 1px #bbbbbb solid;
    background: #F5F5F5;
    border-width: 0 0 1px 1px;
    text-align: center;
}

#info_msg {
    width:  94%; 
    height: 50px;
    overflow-x: hidden;
    overflow-y: scroll;

  font-size: 12px;
  list-style-type: none;
  margin: 0px 0px 0px 10px;
  padding: 2px;
  border : 0px solid #aaaaaa;
  border-top:1px solid #888;
  border-right:2px solid #333;
  border-bottom:2px solid #333;
  border-left:1px solid #888;
  background: #ddd;
  color: #111;

        /* firefox specific markup */
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomleft: 10px;
        -moz-border-radius-bottomright: 10px;
        /* webkit specific markup */
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;

}

#info_msg li {
    margin: 0px 0px 0px 4px;
}

.refresh_alert_msg {
        white-space: nowrap;
        font-weight: bold;
        font-size:  10pt;
        text-shadow: 1px 1px 1px rgba(200, 200, 200, 0.9);
        margin-left: 10px;
        color: #FFFF55;
}


.name_list    {
  list-style-type: none;
  margin: 10px 10px 0px 10px;
  padding: 5px;
  border : 0px solid #aaaaaa;
/*  width:  96%; */
  border-top:1px solid #888;
  border-right:2px solid #333;
  border-bottom:2px solid #333;
  border-left:1px solid #888;
  background: #eee;
  color: #111;
}

.counts {
        color: black;
        font-size: 6pt;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(200, 200, 200, 0.9);
}

.memitem {
        padding: 0;
        margin-right:  2px;
        margin-left:  2px;
        margin-top: 2px;
        margin-bottom: 14px;

        background-color: ghostwhite;
        /* firefox specific markup */
        -moz-box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;
        /* webkit specific markup */
        -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);

        -webkit-border-top-right-radius: 8px;
        -webkit-border-top-left-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
}

.memname {
        white-space: nowrap;
        font-weight: bold;
        margin-left: 15px;
}

.memname_doing {
        color: #000066;
}

.memdoc_doing {
        border-bottom: 1px solid #A8B8D9;
        border-left: 1px solid #A8B8D9;
        border-right: 1px solid #A8B8D9;
        padding: 2px 0px;
        border-top-width: 0;
        -webkit-border-bottom-right-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
}

.memname_todo_h {
        color: #006600;
}

.memdoc_todo_h {
        border-bottom: 0px solid #A8B8D9;
        border-left: 1px solid #A8B8D9;
        border-right: 1px solid #A8B8D9;
        padding: 2px 0px;
        border-top-width: 0;
}

.memproto {
        border-top: 1px solid #A8B8D9;
        border-left: 1px solid #A8B8D9;
        border-right: 1px solid #A8B8D9;
        font-size: 12pt;
        font-weight: bold;
        text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
        background-image: url('nav_f.png');
        background-repeat:repeat-x;
        background-color: #E2E8F2;
        -webkit-border-top-right-radius: 8px;
        -webkit-border-top-left-radius: 8px;

}

.memname_todo_m {
        color: #224422;
}

.memproto_todo_m {
        border-top: 1px solid #A8B8D9;
        border-left: 1px solid #A8B8D9;
        border-right: 1px solid #A8B8D9;
        font-size: 8pt;
        font-weight: bold;
        text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
        background-image: url('nav_f.png');
        background-repeat:repeat-x;
        background-color: #E2E8F2;
}

.memdoc_todo_l {
        border-bottom: 1px solid #A8B8D9;
        border-left: 1px solid #A8B8D9;
        border-right: 1px solid #A8B8D9;
        padding: 2px 0px;
        border-top-width: 0;
        -webkit-border-bottom-right-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
}

.memname_waiting {
        color: #888800;
}

.memdoc_waiting {
        border-bottom: 1px solid #A8B8D9;
        border-left: 1px solid #A8B8D9;
        border-right: 1px solid #A8B8D9;
        padding: 2px 0px;
        border-top-width: 0;
        -webkit-border-bottom-right-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
}

.memname_done {
        color: #555;
}

.memdoc_done {
        border-bottom: 1px solid #A8B8D9;
        border-left: 1px solid #A8B8D9;
        border-right: 1px solid #A8B8D9;
        padding: 2px 0px;
        border-top-width: 0;
        -webkit-border-bottom-right-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
}

#prefix,#add_todo_form_msg  {
  background-color: #ff9;
}

.sign {
  font-weight: bold;
  font-size: 10pt;
  color: #55f;
}

footer {
  background: #fff;
  width: 100%;
  margin-top: 4px;                                                                    
  padding: 20px 0;
  text-align: right;
  border-top: 1px solid #DDD; 
}

footer span{
  margin-right: 20px;
}

