div#wrapper {
  width: 800px;
  margin: 10px auto;
}

#main {
  padding: 10px;
  vertical-align: top;
}

#side_bar {
  width: 100px;
  padding: 10px;
  vertical-align: top;
}

.title {
  padding:3px 5px;
  border-color:#cccccc;
  border-width:1px 1px 1px 7px;
  border-style:solid;background:#F8F8F8;

  font-family: verdana, arial, helvetica, sans-serif;
  font: 19px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;

}

.menu {
  padding:4px 5px;
  border-color:#666666;
  border-width:0 0 2px 0;
  border-style:solid;
  background:#F2F2F2;

  font-family: verdana, arial, helvetica, sans-serif;
  font: 16px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;

}

li {
  font-family: verdana, arial, helvetica, sans-serif;
  font: 14px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}

ul.sign_menu {
  padding-left:0;
  margin-left:0;
}

ul.sign_menu li {
  list-style:none;
}

