<div class="modal hide fade" id="delete_task_in">
  <div class="modal-header">
    <h3>Delete task?</h3>
  </div>
  <div class="modal-body">
    <div id="delete_task_string"></div>
  </div>
  <div class="modal-footer">
    <button id="delete_task_ok_button" class="btn btn-primary">OK</button>
    <button id="delete_task_cancel_button" class="btn">Cancel</button>
  </div>
</div>
