              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Layout
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" id="layout_list">
                  <li><a href="#" onclick="selectLayout('landscape');">Landscape</a></li>
                  <li><a href="#" onclick="selectLayout('compact');">Compact</a></li>
                  <li><a href="#" onclick="selectLayout('compact2');">Compact2</a></li>
                  <li><a href="#" onclick="selectLayout('portrait');">Portrait</a></li>
                </ul>
              </li>
