<div class="modal hide fade" id="book_in">
  <div class="modal-header">
    <h3>New Book</h3>
  </div>
  <div class="modal-body">
    <p>Please type new book name.</p>
    <form id="book_form">
      <input type="text" id="book_name" class="span2" placeholder="Book Name"/>
    </form>
  </div>
  <div class="modal-footer">
    <button id="new_book_button" class="btn btn-primary">New</button>
  </div>
</div>
