<div class="modal hide fade" id="remove_book_in">
  <div class="modal-header">
    <h3>Remove Current Book</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to remove current Book?</p>
    <p>All tasks of current book is removed.</p>
  </div>
  <div class="modal-footer">
    <button id="remove_book_button" class="btn btn-primary">OK</button>
    <button id="remove_book_cancel_button" class="btn">Cancel</button>
  </div>
</div>


