<div class="modal hide fade" id="bg_image_in">
  <div class="modal-header">
    <h3>Set background image url</h3>
  </div>
  <div class="modal-body">
    <p>Please type background image url.</p>
    <form id="bg_image_form">
      <input type="text" id="image_url" class="span6" placeholder="Image URL" value=""/>
    <p>ex) http://hogehoge/fuga.jpg</p>
    </form>
  </div>
  <div class="modal-footer">
    <button id="set_bg_image_button" class="btn btn-primary">Set</button>
  </div>
</div>


