            <p>
            <table id="table-01" >
            <tr>
              <td><div id="todo_h_num"  class="counts todo_h" >0</div></td>
              <td><div id="todo_num"    class="counts todo"   >0</div></td>
              <td><div id="todo_l_num"  class="counts todo_l" >0</div></td>
              <td><div id="doing_num"   class="counts doing"  >0</div></td>
              <td><div id="waiting_num" class="counts waiting">0</div></td>
              <td><div id="done_num"    class="counts done"   >0</div></td>
            </tr>
            </table>
            </p>
