              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Theme 
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" id="theme_list">
                  <li><a href="#" onclick="selectTheme('default');">Default</a></li>
                  <li><a href="#" onclick="selectTheme('flat');">Flat</a></li>
                  <li><a href="#" onclick="selectTheme('snow');">Snow</a></li>
                </ul>
              </li>
